<mat-card>
	💡 Try dragging the items in the list below!
</mat-card>

<div class="table">
	<div class="table-header">
		Assignments
	</div>

	<div cdkDropList [cdkDropListData]="assignments" (cdkDropListDropped)="drop($event)" class="assignments-list">
		<div cdkDrag [cdkDragData]="assignment" cdkDragBoundary=".assignments-list" 
      *ngFor="let assignment of assignments" class="assignment-item">
      <div class="assignment-order">{{assignment.SortOrder}}.</div>
			<div class="assignment-name">{{assignment.Name}}</div>
		</div>
	</div>
</div>

