<mat-card>
  💡 Try dragging the items in the list below!
</mat-card>

<div class="example-table">
	<div class="example-header">
		Assignment Name
	</div>

	<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
		<div class="example-box" *ngFor="let assignment of assignments" cdkDrag>{{assignment}}</div>
	</div>
</div>

<div class="more-info">
  More info:
  <a href="https://material.angular.io/cdk/drag-drop/overview#reordering-lists">
  Drag and Drop | Angular Material
  </a>
</div>